/* ::::: https://swsdl.vivo.com.cn/vivoshop/web/dist/css/global_79a0974.css ::::: */

*::-moz-selection { background: rgb(0, 140, 214) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
body { font: 14px/1.5 "Microsoft Yahei",Arial; text-rendering: optimizelegibility; }
a { color: rgb(0, 140, 215); text-decoration: none; cursor: pointer; outline: 0px none; }
a:hover { color: rgb(83, 83, 83); text-decoration: none; }
a:focus { border: 0px none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
ol, li, ul, dl, dt, dd { list-style: outside none none; }
fieldset, img { border: 0px none; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }
input, textarea, select, button { font-family: inherit; font-size: inherit; font-weight: inherit; outline-style: none; outline-width: 0px; resize: none; padding: 0px; margin: 0px; }
input[type="text"], input[type="tel"], textarea { padding: 3px 6px; border: 1px solid rgb(204, 204, 204); border-radius: 2px; }
input[type="text"]:focus, input[type="tel"]:focus, textarea:focus, select:focus { background-color: rgb(255, 255, 255); border-color: rgb(134, 206, 244) ! important; box-shadow: 0px 1px 2px rgba(0, 140, 214, 0.075) inset, 0px 0px 4px rgba(0, 140, 214, 0.75); }
textarea { overflow: auto; vertical-align: top; resize: none; }
button { cursor: pointer; }
b, em, i { font-weight: 400; font-style: normal; }
.cl::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cl {  }
.red { color: rgb(240, 65, 65) ! important; }
.wrapper { width: 1200px; margin: 0px auto; }
/* ::::: https://swsdl.vivo.com.cn/vivoshop/web/dist/css/layout_3a0d4d9.css ::::: */

#header, #footer, #content { min-width: 1200px; }
#header { border-bottom: 1px solid rgba(0, 0, 0, 0.05); z-index: 99; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.head-search { padding: 20px 0px; width: 100%; background: rgb(32, 34, 35) none repeat scroll 0% 0%; position: relative; z-index: 99; display: none; }
#header .search-box { width: 700px; height: 40px; margin: 0px auto; background: rgb(102, 102, 102) none repeat scroll 0% 0%; box-shadow: 0px 1px 2px rgb(0, 0, 0); position: relative; z-index: 99; }
#header .search-box input { width: 550px; height: 20px; padding: 10px 20px; font-size: 14px; color: rgb(85, 85, 85); border: 0px none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; vertical-align: middle; border-radius: 0px; }
#header .search-box button { width: 110px; height: 40px; text-align: center; font-size: 14px; color: rgb(255, 255, 255); border: 0px none; overflow: hidden; vertical-align: middle; background: rgb(0, 140, 214) none repeat scroll 0% 0%; outline: 0px none; cursor: pointer; transition: background 0.2s ease-in-out 0s; }
#header .search-box button:hover { background: rgb(0, 116, 178) none repeat scroll 0% 0%; }
#header .search-box button:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
#header .search-box a.close { width: 24px; height: 24px; position: absolute; top: 8px; right: -40px; background: transparent url('vivo-head-ico_7a552f5.png') no-repeat scroll -86px 0px; }
#header .search-box a.close:hover { background-position: -86px -25px; }
#navigator { height: 80px; margin: auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; z-index: 999; }
#navigator a.vivo-logo { float: left; width: 95px; height: 60px; margin-top: 10px; transform: translate3d(0px, 0px, 0px); }
#navigator > ul { float: left; height: 80px; margin-left: 50px; overflow: hidden; }
#navigator > ul > li { min-width: 106px; height: 80px; overflow: hidden; text-align: center; float: left; border-right: 1px solid rgb(242, 242, 242); }
#navigator > ul > li:first-child { border-left: 1px solid rgb(242, 242, 242); }
#navigator > ul > li a { display: block; line-height: 80px; font-size: 16px; color: rgb(102, 102, 102); transition: all 0.3s ease-in-out 0s; }
#navigator ul li a:hover, #navigator ul li.current a, #navigator ul li.current a:hover, #navigator ul li.active a, #navigator ul li.active a:hover { color: rgb(255, 255, 255); background: rgb(0, 140, 214) none repeat scroll 0% 0%; }
#navigator .search-user { float: right; height: 60px; margin-top: 10px; position: relative; }
.top-quick-menu > li { float: left; width: 42px; height: 42px; margin-left: 15px; position: relative; top: 8px; border: 1px solid rgb(231, 231, 231); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 50%; }
.top-quick-menu > li:hover { border-color: rgb(0, 140, 214); background: rgb(0, 140, 214) none repeat scroll 0% 0%; }
.top-quick-menu > li > a { display: inline-block; height: 42px; width: 42px; overflow: hidden; border-radius: 50%; position: relative; }
.top-quick-menu b { width: 42px; height: 42px; display: inline-block; border-radius: 50%; background: transparent url('vivo-head-ico_7a552f5.png') no-repeat scroll 0% 0%; }
.top-quick-menu b img { width: 42px; height: 42px; }
.top-quick-menu .search b { background-position: 0px 0px; }
.top-quick-menu .search:hover b { background-position: 0px -43px; }
.top-quick-menu .user b { background-position: -43px 0px; }
.top-quick-menu .user:hover b { background-position: -43px -43px; }
.top-quick-menu .shoppingcart b { background-position: 0px -84px; }
.top-quick-menu .shoppingcart:hover b { background-position: 0px -126px; }
.top-quick-menu .shopcart-num { width: 16px; height: 16px; line-height: 16px; text-align: center; vertical-align: middle; overflow: hidden; background: rgb(230, 0, 18) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 12px; position: absolute; top: 4px; right: 4px; font-family: tahoma; border-radius: 50%; }
.top-quick-menu .user-menu { display: none; position: absolute; right: 0px; top: 51px; border: 1px solid rgb(237, 237, 237); background-color: rgb(255, 255, 255); z-index: 9; }
.top-quick-menu .user-menu li { height: 50px; line-height: 50px; padding-left: 25px; width: 125px; font-size: 14px; cursor: pointer; }
.top-quick-menu .user-menu li a { color: rgb(102, 102, 102); }
.top-quick-menu .user-menu li:hover { background-color: rgb(0, 140, 214); }
.top-quick-menu .user-menu li:hover a { color: rgb(255, 255, 255); }
.user-menu .member-center { position: relative; }
.user-menu .member-center .icon-angular { position: absolute; width: 45px; height: 20px; right: 7px; top: -20px; z-index: 99; background: transparent url('icons-login_20c2a7f.png') no-repeat scroll -26px -91px; }
.top-quick-menu .user-menu i { display: inline-block; width: 29px; height: 29px; margin-right: 15px; vertical-align: middle; background: transparent url('icons-login_20c2a7f.png') no-repeat scroll 0% 0%; }
.top-quick-menu .member-center:hover i { background-position: 0px -46px; }
.top-quick-menu .my-order i { background-position: -48px 0px; }
.top-quick-menu .my-order:hover i { background-position: -48px -46px; }
.top-quick-menu .logout i { background-position: -100px 0px; }
.top-quick-menu .logout:hover i { background-position: -100px -46px; }
.crumbs { color: rgb(153, 153, 153); font-size: 14px; padding: 20px 0px; }
.crumbs a { color: rgb(0, 140, 214); display: inline-block; }
.crumbs b { display: inline-block; width: 5px; height: 10px; background: transparent url('details-icon_eaf14d5.png') no-repeat scroll 0% 0%; overflow: hidden; margin: 0px 10px; }
#content { padding-bottom: 30px; }
#footer { overflow: hidden; }
.shop-agree { height: 86px; position: relative; text-align: center; border-bottom: 1px solid rgb(232, 232, 233); border-top: 1px solid rgb(232, 232, 233); background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.shop-agree ul { height: 86px; display: block; margin: auto; position: relative; }
.shop-agree li { float: left; width: 25%; text-align: left; padding-top: 14px; }
.shop-agree li.shop-agree-last { text-align: right; }
.shop-agree li a { color: rgb(51, 51, 51); }
.shop-agree li p { color: rgb(61, 61, 61); float: left; padding-left: 10px; font-size: 18px; height: 60px; line-height: 60px; }
.shop-agree li p span { color: rgb(61, 61, 61); font-size: 30px; vertical-align: middle; padding-right: 10px; position: relative; top: -2px; }
.shop-agree li b { float: left; width: 60px; height: 60px; overflow: hidden; vertical-align: middle; background: transparent url('footer-icon_02a1be2.png') no-repeat scroll 0px 0px; }
.shop-agree li b.b1 { background-position: 0px 0px; }
.shop-agree li b.b2 { background-position: -62px 0px; }
.shop-agree li b.b3 { margin-left: 30px; background-position: -124px 0px; }
.shop-agree li b.b4 { background-position: -185px 0px; }
.shop-help { height: auto; position: relative; padding: 25px 0px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.shop-help dl { float: left; display: block; width: 20%; }
.shop-help dl.shop-help-last { margin-right: 0px; }
.shop-help dt { color: rgb(0, 140, 214); font-size: 16px; padding-bottom: 10px; }
.shop-help dt b { display: inline-block; vertical-align: middle; width: 28px; height: 28px; overflow: hidden; background: transparent url('footer-icon_02a1be2.png') no-repeat scroll 0% 0%; margin-right: 5px; }
.shop-help dt b.b1 { background-position: 0px -61px; }
.shop-help dt b.b2 { background-position: -30px -61px; }
.shop-help dt b.b3 { background-position: -64px -61px; }
.shop-help dt b.b4 { background-position: -93px -61px; }
.shop-help dt b.b5 { background-position: -123px -61px; }
.shop-help dd { line-height: 30px; color: rgb(153, 153, 153); }
.shop-help dd a { color: rgb(153, 153, 153); transition: all 0.3s ease-in-out 0s; }
.shop-help dd a:hover { color: rgb(0, 140, 214); }
.shop-help .online-service { cursor: pointer; }
.footer-copyright { background: rgb(32, 34, 35) none repeat scroll 0% 0%; padding: 30px 0px; }
.footer-copyright .copy-info { width: 600px; float: left; }
.footer-copyright .sns-box { float: right; }
.footer-copyright a.footer-logo { width: 95px; height: 30px; float: left; position: relative; background: transparent url('vivo-footer-logo_018fcf3.jpg') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 20px; }
.footer-copyright .copy-info { color: rgb(102, 102, 102); padding-top: 5px; }
.footer-copyright .copy-info a { color: rgb(102, 102, 102); transition: color 0.2s ease-in-out 0s; }
.footer-copyright .copy-info a:hover { color: rgb(0, 140, 214); }
.footer-copyright .sns-box { color: rgb(204, 204, 204); position: relative; }
.footer-copyright .sns-box a { width: 27px; height: 27px; display: inline-block; overflow: hidden; margin-left: 8px; background: rgb(77, 78, 79) none repeat scroll 0% 0%; border-radius: 4px; transition: background 0.2s ease-in-out 0s; vertical-align: middle; }
.footer-copyright .sns-box a > b { width: 27px; height: 27px; overflow: hidden; display: inline-block; background: transparent url('vivo-sns-ico_b902584.png') no-repeat scroll 0% 0% / 135px 54px; }
.footer-copyright .sns-box a:hover > b { transition-delay: 0.1s; }
.footer-copyright .sns-box a.sina b { background-position: 0px 0px; }
.footer-copyright .sns-box a.sina:hover { background: rgb(229, 44, 66) none repeat scroll 0% 0%; }
.footer-copyright .sns-box a.sina:hover b { background-position: 0px -27px; }
.footer-copyright .sns-box a.tencent b { background-position: -27px 0px; }
.footer-copyright .sns-box a.tencent:hover { background: rgb(20, 173, 223) none repeat scroll 0% 0%; }
.footer-copyright .sns-box a.tencent:hover b { background-position: -27px -27px; }
.footer-copyright .sns-box a.weixin > b { background-position: -54px 0px; }
.footer-copyright .sns-box a.weixin:hover { background: rgb(32, 169, 0) none repeat scroll 0% 0%; }
.footer-copyright .sns-box a.weixin:hover > b { background-position: -54px -27px; }
.footer-copyright .sns-box a.renren b { background-position: -108px 0px; }
.footer-copyright .sns-box a.renren:hover { background: rgb(5, 107, 232) none repeat scroll 0% 0%; }
.footer-copyright .sns-box a.renren:hover b { background-position: -108px -27px; }
.vivo-weixin-overbox { width: 143px; height: 143px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; bottom: 40px; right: -56px; border-radius: 2px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); z-index: 99; display: none; }
.weixin:hover .vivo-weixin-overbox { display: block; }
.vivo-weixin-overbox img { position: relative; left: 15px; top: 15px; }
.vivo-weixin-overbox b { width: 18px; height: 12px; overflow: hidden; background: transparent url('overbox-cd-icon_3b34d96.png') no-repeat scroll 0% 0%; position: absolute; bottom: -12px; left: 50%; margin-left: -9px; }
#side-bar { position: fixed; right: 14px; top: 60%; z-index: 99; }
#side-bar li { border-top: 1px solid rgb(204, 204, 204); }
#side-bar li:first-child { border-top: 0px none; }
#side-bar li > a { position: relative; display: block; width: 47px; height: 49px; background: rgb(195, 195, 195) none no-repeat scroll center center; }
#side-bar li:first-child > a { border-top-left-radius: 2px; border-top-right-radius: 2px; }
#side-bar li.last > a { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
#side-bar li > a::before { position: absolute; right: 47px; bottom: 0px; display: none; padding: 0px 9px 0px 18px; color: rgb(168, 225, 255); font-size: 14px; line-height: 49px; white-space: nowrap; border-top-left-radius: 2px; border-bottom-left-radius: 2px; background-color: rgb(36, 155, 220); }
#side-bar li > a.active::before { display: block; }
#side-bar li > a.clicked::before { display: none; }
#side-bar li.hide { display: none; }
#side-bar .service { background-image: url('icon-online-service_b441fd1.png'); }
#side-bar .service::before { content: "在线客服"; }
#side-bar .qrcode { background-image: url('icon-qrcode_b904055.png'); }
#side-bar .qrcode-container { display: none; position: absolute; right: 72px; bottom: 0px; padding: 14px 14px 8px; font-size: 0px; text-align: center; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.1); }
#side-bar .qrcode-container img { margin-bottom: 4px; padding: 8px; width: 109px; height: 109px; border: 2px solid rgb(0, 141, 217); }
#side-bar .qrcode-container p { color: rgb(119, 119, 119); font-size: 13px; line-height: 18px; }
#side-bar .feedback { background-image: url('icon-feedback_ff5a377.png'); }
#side-bar .feedback::before { content: "意见反馈"; }
#side-bar .feedback-container { display: none; position: absolute; right: 72px; bottom: 0px; padding: 0px 33px 30px; font-size: 14px; cursor: default; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.1); }
#side-bar .feedback-container .close { position: absolute; right: 10px; top: 10px; width: 36px; height: 36px; cursor: pointer; background: transparent url('icon-feedback-close_bb934ea.png') no-repeat scroll center center; }
#side-bar .feedback-container .title { padding: 38px 0px 23px; color: rgb(51, 51, 51); font-size: 21px; line-height: 1; text-align: center; }
#side-bar .feedback-container .problem-container { position: relative; display: inline-block; vertical-align: top; cursor: default; overflow: hidden; border-radius: 2px; border: 1px solid rgb(224, 224, 224); }
#side-bar .feedback-container .problem { position: relative; box-sizing: border-box; padding: 0px 23px 0px 7px; max-width: 392px; color: rgb(102, 102, 102); font-size: 16px; line-height: 34px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#side-bar .feedback-container .problem::after { content: ""; position: absolute; right: 7px; top: 11px; width: 9px; height: 12px; background: transparent url('icon-select_77dde3f.png') no-repeat scroll center center; }
#side-bar .feedback-container select { position: absolute; left: 0px; top: 0px; width: 100%; height: 34px; opacity: 0; background-color: rgb(255, 255, 255); }
#side-bar .feedback-container option { color: rgb(102, 102, 102); font-size: 16px; line-height: 20px; }
#side-bar textarea::-moz-placeholder, #side-bar input::-moz-placeholder { color: rgb(204, 204, 204); }
#side-bar textarea:-moz-placeholder, #side-bar input:-moz-placeholder { color: rgb(204, 204, 204); }
#side-bar .feedback-container textarea, #side-bar .feedback-container .contact-way, #side-bar .feedback-container .code-input { box-sizing: border-box; display: block; margin-top: 14px; padding: 0px 7px; height: 36px; color: rgb(102, 102, 102); line-height: 34px; border-radius: 2px; border: 1px solid rgb(224, 224, 224); }
#side-bar .feedback-container textarea { padding: 7px; width: 394px; height: 119px; line-height: 20px; text-align: justify; }
#side-bar .feedback-container .contact-way { width: 394px; }
#side-bar .feedback-container .change-code { float: right; margin-top: 14px; color: rgb(0, 140, 214); line-height: 36px; cursor: pointer; text-decoration: underline; }
#side-bar .feedback-container .code { float: right; margin: 14px 18px 0px 0px; width: 84px; height: 36px; }
#side-bar .feedback-container .error { visibility: hidden; margin: 5px 0px; color: rgb(248, 0, 0); line-height: 34px; }
#side-bar .feedback-container .error::before { content: ""; display: inline-block; vertical-align: top; margin: 7px 5px 0px 0px; width: 20px; height: 20px; background: transparent url('icon-error_66a9017.png') no-repeat scroll center center; }
#side-bar .feedback-container button { display: block; margin: 0px auto; width: 160px; height: 36px; color: rgb(255, 255, 255); font-size: 16px; border: 0px none; border-radius: 2px; background-color: rgb(0, 140, 214); }
#side-bar .backtop { background-image: url('icon-backtop_d05a940.png'); }
#side-bar .backtop::before { content: "返回顶部"; }
/* ::::: https://swsdl.vivo.com.cn/vivoshop/web/dist/js/common/dialog/dialog_523c50b.css ::::: */

/* ::::: https://swsdl.vivo.com.cn/vivoshop/web/dist/css/modules/member-center_3bb3bfe.css ::::: */

#content { background-color: rgb(245, 245, 245); }
.menu-bar { padding: 27px 0px; float: left; width: 218px; margin-right: 15px; background-color: rgb(255, 255, 255); }
.menu-title { height: 56px; padding-left: 50px; line-height: 56px; font-size: 16px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.menu-item { height: 50px; line-height: 50px; font-size: 14px; color: rgb(102, 102, 102); }
.menu-title i { display: inline-block; height: 24px; width: 23px; margin-right: 6px; vertical-align: middle; background: transparent url('menu-icons_c72fdfd.png') no-repeat scroll 0% 0%; }
.menu-title .icon-evaluation { background-position: 0px -27px; }
.menu-title .icon-account { background-position: 0px -56px; }
.menu-item:hover, .menu-bar .on { color: rgb(1, 142, 214); background-color: rgb(222, 244, 255); }
.menu-item a { display: block; padding-left: 79px; color: rgb(110, 113, 115); }
.menu-item:hover a, .menu-bar .on a { color: inherit; }
.portrait-box { text-align: center; }
.portrait-box img { width: 160px; height: 160px; }
.mem-name { height: 40px; line-height: 40px; font-size: 18px; color: rgb(102, 102, 102); }
.mem-name i { display: inline-block; width: 16px; height: 20px; margin-right: 5px; vertical-align: text-bottom; background: transparent url('menu-icons_c72fdfd.png') no-repeat scroll -5px -88px; }
.vcoin-info { height: 30px; line-height: 30px; }
.content { float: left; width: 907px; padding: 0px 30px 30px; min-height: 530px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); }
.content .module-item { color: rgb(51, 51, 51); }
.no-record { vertical-align: middle; text-align: center; font-size: 14px; color: rgb(102, 102, 102); padding: 150px 0px ! important; }
.no-record.special { padding: 80px 0px ! important; }
.no-record img { display: inline-block ! important; margin: 0px 0px 20px ! important; vertical-align: middle; }
.no-record.no-order img { width: 151px; height: 138px; }
.no-record.no-browse-record img { width: 136px; height: 136px; }
.no-record span { color: rgb(136, 136, 136) ! important; display: block ! important; font-size: 14px; }
/* ::::: https://swsdl.vivo.com.cn/vivoshop/web/dist/css/web-page/my/member-index_45a1e7e.css ::::: */

.module-item { color: rgb(51, 51, 51); }
.mem-overview { padding-top: 50px; }
.mem-overview .name { color: rgb(0, 0, 0); }
.mem-properties li { margin-right: 60px; height: 46px; line-height: 46px; float: left; font-size: 14px; color: rgb(102, 102, 102); }
.mem-properties .login-time { color: rgb(176, 176, 176); }
.content .welcome-info { font-size: 21px; line-height: 21px; color: rgb(51, 51, 51); }
.content .mem-properties { overflow: hidden; }
.statistic-list { margin-top: 25px; padding: 30px 0px; clear: left; overflow: hidden; border-top: 1px solid rgb(238, 238, 238); }
.statistic-list .item { float: left; width: 20%; height: 56px; padding-left: 65px; line-height: 50px; font-size: 16px; background: transparent url('icons-overview_912078d.png') no-repeat scroll 0% 0%; }
.statistic-list .evaluation { background-position: 0px -64px; }
.statistic-list .coupon { background-position: 0px -127px; }
.statistic-list .item a { font-size: 24px; margin-left: 10px; }
.page-module { margin-bottom: 30px; }
.page-module .title { font-size: 16px; color: rgb(51, 51, 51); line-height: 45px; }
