<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="js gotop win7 firefox windows no-webkit transform3d transition html5video canvas svg pf-pc mini">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

        
        
<title>vivo智能手机官方网站-前置2000万柔光双摄vivo X9|X9Plus</title>
<meta name="keywords" content="vivo,vivo官网,vivo X7,vivo X7Plus，vivo X6S，vivo Xplay5,vivo手机官网,vivo X9,vivo X9Plus,Xplay6,vivo音乐手机,vivo闪充手机,vivo拍照手机">
<meta name="description" content="vivo是一家专注于智能手机领域的手机品牌，vivo官网提供vivo智能手机包含vivo X9，vivo X9Plus，vivo Xplay6，vivo X7，vivo X7Plus等在内的产品资讯，产品服务，社区在线交流及资源下载等。">
        

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="uimix, http://uimix.com">
<meta name="copyright" content="vivo.com.cn">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">




<!--<link href="/css/2016guoqing.css?v=20170216003029" rel="stylesheet" type="text/css" />-->


<!--[if lte IE 8]><link href="/css/vivo.layout.fixed.css?v=20170216003029" rel="stylesheet" type="text/css" /><![endif]-->

<script src="hm.js"></script><script src="jquery.js" type="text/javascript"></script>
<script src="vivo.main.js" type="text/javascript"></script>


        
        
    
<link media="all" href="index.css" type="text/css" rel="stylesheet">
</head>
<body class="vivomain-page">
                <div id="vivo-wrap">


            
                        

            <div id="vivo-head-wrap">
                <div class="vivo-head cl">
                    <a class="vivo-h-logo" href="http://www.vivo.com.cn/" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/vivo logo'])"></a>
                    <ul class="vivo-h-nav" style="display: table;">
                        <li class="nav-gb current"><a onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/首页'])" href="http://www.vivo.com.cn/">首页</a></li>
                        <li class="nav-gb nav-h-products"><a href="http://www.vivo.com.cn/product.html" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/产品'])">产品</a></li>
                        <li class="nav-gb"><a onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/商城'])" href="https://shop.vivo.com.cn/" target="_top">商城</a></li>
                        <li class="nav-gb"><a href="http://www.vivo.com.cn/store" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/体验中心'])">体验中心</a></li>
                        <li class="nav-gb"><a href="http://www.vivo.com.cn/funtouchos" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/Funtouch OS'])">Funtouch OS</a></li>
                        <li class="nav-gb"><a href="https://bbs.vivo.com.cn/" target="_top" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/社区'])">社区</a></li>
                        <li class="nav-gb"><a href="http://www.vivo.com.cn/service.html" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/服务'])">服务</a></li>
                    </ul>

                    <div class="nav-tool">
                        <a class="nav-t-kefu" target="_top" href="https://kefu.vivo.com.cn/robot-vivo/" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/小V在线客服'])"><b class="v-gb-ico"></b><em class="nav-t-kefu-pop">小V在线客服</em></a>
                        <a class="nav-t-search" href="#" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'nav/导航搜索'])"><b class="v-gb-ico"></b></a>
                                                <a class="nav-t-user" href="https://passport.vivo.com.cn/v3/web/login/authorize?client_id=5&amp;redirect_uri=http%3A%2F%2Fwww.vivo.com.cn%2Fauth.php%3Freferer%3Dhttp%253A%252F%252Fwww.vivo.com.cn%252F"><b class="v-gb-ico"></b></a>
                                                <a class="nav-t-menu" href="#"><b class="v-gb-ico"></b></a>
                    </div>
                </div>
                
                
                <!--节日-->
<!--
                <div id="guoqing">
                    <div class="dw-box">
                        <img  src="/high/2016guoqing/vivo-guoqing-img-x2.gif" width="325" height="80">
                    </div>
                </div>
-->
                <!--节日-->
                

                

            </div>
                    
            <div class="vivo-menu-series" style="height: 789px; opacity: 0; display: none;">
                <div class="vms-bigbox">
                    <div class="vms-box cl">
                                                    <dl>
                                    <dt><a class="v-gb-ico" href="http://www.vivo.com.cn/product.html">最新</a></dt>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9i">X9星空灰版</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y66">Y66</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9plus">X9Plus</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay6">Xplay6</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9">X9</a></dd>
                                                                    </dl>
                                                        <dl>
                                    <dt><a class="v-gb-ico" href="http://www.vivo.com.cn/products-xplay.html">Xplay系列</a></dt>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay6">Xplay6</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay5s">Xplay5旗舰版</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay5">Xplay5</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay3s/">Xplay3S</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xplay/">Xplay</a></dd>
                                                                    </dl>
                                                        <dl>
                                    <dt><a class="v-gb-ico" href="http://www.vivo.com.cn/products-xshot.html">Xshot系列</a></dt>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/xshot/">Xshot</a></dd>
                                                                    </dl>
                                                        <dl>
                                    <dt><a class="v-gb-ico" href="http://www.vivo.com.cn/products-x.html">X系列</a></dt>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9i">X9星空灰版</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9plus">X9Plus</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x9">X9</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x7">X7</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/x7plus">X7Plus</a></dd>
                                                                    </dl>
                                                        <dl>
                                    <dt><a class="v-gb-ico" href="http://www.vivo.com.cn/products-y.html">Y系列</a></dt>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y66">Y66</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y67">Y67</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y55">Y55</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y51e">Y51电信高配版</a></dd>
                                                                        <dd><a href="http://www.vivo.com.cn/vivo/y51d">Y51移动定制版</a></dd>
                                                                    </dl>
                                                
                    </div>
                </div>
            </div>
                    
            <div class="v_h_search v_h_searchq">
                <div class="search-box">
                    <div class="vh-sear-nav">
                        <div class="nav-box">
                            <a class="vh-sear-logo" href="http://www.vivo.com.cn/"></a>
                            <ul class="cl">
                                <li class="input">
                                    <form action="http://www.vivo.com.cn/search" method="get" onsubmit="if ($.trim($(this).find('input.data_q').val()) == '') {alert('请输入关键词'); return false;} return true;"><input placeholder="如: X6&amp;X6Plus" name="q" class="data_q" autocomplete="off" value="" type="text"></form>
                                </li>
                                <li class="sear-tool"><a class="search v-gb-ico" href="javascript:;"></a><a class="close v-gb-ico" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vh-sear-cont" style="height: 610px;">
                        <div class="cont-box">
                            
                        </div>
                    </div>
                </div>
            </div>            
            
            
            
            <div id="vivo-high-wrap" style="height: 689px; visibility: visible;">
                <div id="vivo-high" data-duration1="8000" data-animate1="fade" style="height: 689px; filter: blur(10px); display: none;">
                    <div class="vivo-high-box">
                        <ul style="width: 1280px; height: 689px;">
                             
                           
                            
<li class="vivo-x9i start" style="width: 1280px; height: 689px; transform: translate3d(0px, 0px, 0px); transition-duration: 0.8s; transition-timing-function: ease; z-index: 2;">
    <a href="https://shop.vivo.com.cn/product/9986?source=vivo" target="_top" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/x9plus 星空灰']);">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="vm-h-x9i-title1-mini.png" height="47" width="380"></h2>
                <h2 class="_animation" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="vm-h-x9i-title2-mini.png" height="47" width="380"></h2>
                <h2 class="_animation" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="vm-h-x9i-title3-mini.png" height="47" width="380"></h2>
                <div class="more _animation" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="vivo--ico">新品首发</span></div>
            </div>
            <div class="figure">
                <i></i>
                <em class="mobile" style="visibility: inherit; opacity: 1;"><img src="vm-h-x9i-figure-mini.png" height="541" width="807"></em>
                <em class="different" style="visibility: inherit; opacity: 1;"><img class="nochange" src="vm-h-x9i-different.png" height="30" width="400"></em>
            </div>
        </div>
    </a>
</li>


                           
<li class="vivo-x9qjf vdl_video_btn" style="width: 1280px; height: 689px; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0s; transition-timing-function: ease; z-index: 1;">
    <a target="_blank" onclick="return VPV({url:'http://files.vivo.com.cn/static/www/video/x9qjf/vivo_x9qjf.mp4?v=1', poster:'http://files.vivo.com.cn/static/www/video/x9qjf/vivo_x9qjf_bg.jpg?v=1', width:800, height:450});">
        <div class="vivo-h-stage">
        </div>
    </a>
</li>
                           
                                 

<li class="vivo-x9plus" style="width: 1280px; height: 689px; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0s; transition-timing-function: ease; z-index: 1;">
    <a href="https://shop.vivo.com.cn/sp/X9Plus?source=vivo" target="_top" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/x9Plus']);">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9plus-title1-mini.png" height="39" width="342"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9plus-title2-mini.png" height="39" width="342"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9plus-title3-mini.png" height="39" width="342"></h2>
                <div class="more _animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><span class="vivo--ico">立即购买</span></div>
                <div class="tips"><img class="nochange" src="vm-h-x9plus-tips.png" height="15" width="375"></div>
            </div>
            <div class="figure">
                <em class="f1" style="transform: matrix(1, 0, 0, 1, 65, -100);"><img src="vm-h-x9plus-figure1-mini.jpg"></em>
                <em class="f2" style="transform: matrix(1, 0, 0, 1, -57, 100);"><img src="vm-h-x9plus-figure2-mini.png"></em>
            </div>
        </div>
    </a>
</li>

                         
                                             




<!--
<li class="vivo-x9">
    <a href="/vivo/x9" target="_blank">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title1-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title1.jpg" width="380" height="45"></h2>
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title2-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title2.jpg" width="380" height="45"></h2>
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title3-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-title3.jpg" width="380" height="45"></h2>
                <div class="more _animation _duang"><span class="vivo--ico">了解详情</span></div>
            </div>
            <div class="figure f1 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-figure1-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-figure1.jpg" width="1368" height="760"></div>
            <div class="figure f2 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-figure2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-figure2.png" width="1330" height="608"></div>
            <div class="tips"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-tips-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/x9/vm-h-x9-tips.png" width="375" height="15"></div>
        </div>
    </a>
</li>                    
-->
                                              
                                                                     
                                                                                                                   
<!--
<li class="vivo-x7black">
    <a href="http://shop.vivo.com.cn/" target="_blank">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-title-x2.png?v=1" src="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-title.png?v=1" width="304" height="160"></h2>
                <div class="_animation _duang more"><span class="vivo--ico">新品首发</span></div>
            </div>
            <div class="figure">
                <em class="_duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-figure-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-figure.png" width="1015" height="722"></em>
                <em class="_duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-light-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/x7black/vm-h-x7black-light.png" width="1015" height="722"></em>
            </div>
        </div>
    </a>
</li>                                                       
-->





<li class="vivo-x9pyy" style="width: 1280px; height: 689px; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0s; transition-timing-function: ease; z-index: 1;">
    <a href="http://shop.vivo.com.cn/sp/20161108?source=vivo" target="_top" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/x9']);">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9pyy-title1-mini.png" height="45" width="380"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9pyy-title2-mini.png" height="45" width="380"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><img src="vm-h-x9pyy-title3-mini.png" height="45" width="380"></h2>
                <div class="more _animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, -20);"><span class="vivo--ico">立即购买</span></div>
            </div>
            <div class="tips"><img class="nochange" src="vm-h-x9pyy-tips.png" height="15" width="375"></div>
        </div>
    </a>
</li>


<!--
<li class="vivo-y67">
    <a href="/vivo/y67" target="_blank" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/y67']);">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_duang _animation"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-title-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-title.png" width="280" height="120"></h2>
                <div class="more _duang _animation"><span class="vivo--ico">查看详情</span></div>
            </div>
            <div class="figure">
                <i></i>
                <em class="f1 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure1-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure1.png" width="627" height="779"></em>
                <em class="shadow _uang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-shadow-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-shadow.png" width="627" height="779"></em>
                <em class="f2 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure2.png" width="627" height="779"></em>
                <em class="f3 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure3-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y67/vm-h-y67-figure3.png" width="627" height="779"></em>
            </div>
        </div>
    </a>
</li>
-->


<li class="vivo-xplay6" style="width: 1280px; height: 689px; transform: translate3d(-1263px, 0px, 0px); transition-duration: 0s; transition-timing-function: ease; z-index: 1;">
    <a href="https://shop.vivo.com.cn/sp/Xplay6?source=vivo" target="_top">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);"><img src="vm-h-xplay6-title1-mini.png" height="57" width="380"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);"><img src="vm-h-xplay6-title2-mini.png" height="57" width="380"></h2>
                <h2 class="_animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);"><img src="vm-h-xplay6-title3-mini.png" height="57" width="380"></h2>
                <div class="more _animation" style="visibility: hidden; opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);"><span class="vivo--ico">立即购买</span></div>
            </div>
            <div class="figure">
                <em class="f1" style="transform: translate(5%, 0%) matrix(1, 0, 0, 1, 0, 0);"><img src="vm-h-xplay6-figure1-mini.png" height="798" width="961"></em>
                <em class="f2" style="transform: translate(-5%, 0%) matrix(1, 0, 0, 1, 0, 0);"><img src="vm-h-xplay6-figure3-mini.png" height="798" width="961"></em>
            </div>
        </div>
    </a>
</li>

<!--
<li class="vivo-xplay6">
    <a href="https://shop.vivo.com.cn/sp/Xplay6?source=vivo" target="_blank">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation _duang"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title1-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title1.jpg" width="380" height="57"></h2>
                <h2 class="_animation _duang"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title2-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title2.jpg" width="380" height="57"></h2>
                <h2 class="_animation _duang"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title3-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-title3.jpg" width="380" height="57"></h2>
                <div class="more _animation _duang"><span class="vivo--ico">新品预售</span></div>
            </div>
            <div class="figure">
                <em class="f1 _duang"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-figure1-x2.jpg" src="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-figure1.jpg" width="798" height="1064"></em>
                <em class="f2 _duang"><img class="nochange" data-x2="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-figure2-x2.png?v=2" src="//files.vivo.com.cn/static/www/vivo/high/xplay6/vm-h-xplay6-figure2.png?v=2" width="798" height="1064"></em>
            </div>
        </div>
    </a>
</li>
-->









<!--
<li class="vivo-y66">
    <a href="/vivo/y66" target="_blank">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-title-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-title.png" width="243" height="91"></h2>
                <div class="more _animation _duang"><span class="vivo--ico">了解详情</span></div>
            </div>
            <div class="figure">
                <em class="figure1 sd1 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-shadow1-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-shadow1.png" width="805" height="862"></em>
                <em class="figure2 sd2 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-shadow2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-shadow2.png" width="706" height="501"></em>
                <em class="figure2 f2 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure2.png" width="706" height="501"></em>
                <em class="figure2 f3 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure3-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure3.png" width="706" height="501"></em>
                <em class="figure1 f1 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure1-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y66/vm-h-y66-figure1.png" width="805" height="862"></em>
            </div>
        </div>
    </a>
</li>
-->
                                                  
<!--
<li class="vivo-nba">
    <a href="/news/168" target="_blank" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/nba']);">
        <div class="vivo-h-stage">
            <i class="bg1 _duang"></i>
            <i class="bg2 _duang"></i>
            <div class="title">
                <h2 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/nba/vm-h-nba-title1-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/nba/vm-h-nba-title1.png" width="540" height="76" alt="vivo&nab"></h2>
                <h3 class="_animation _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/nba/vm-h-nba-title2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/nba/vm-h-nba-title2.png" width="540" height="84" alt="vivo&nab"></h3>
            </div>
        </div>
    </a>
</li>
-->
                          

                           
<!--
<li class="vivo-y55">
    <a href="/vivo/y55" target="_blank" onclick="_hmt.push(['_trackEvent', 'high', 'click', 'high/y55']);">
        <div class="vivo-h-stage">
            <div class="title">
                <h2 class="_duang _animation"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-title-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-title.png" width="280" height="120"></h2>
                <div class="more _duang _animation _duang"><span class="vivo--ico">查看详情</span></div>
            </div>
            <div class="figure">
                <em class="f1 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure1-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure1.png" width="570" height="798"></em>
                <em class="f2 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure2-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure2.png" width="570" height="798"></em>
                <em class="f3 _duang"><img data-x2="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure3-x2.png" src="//files.vivo.com.cn/static/www/vivo/high/y55/vm-h-y55-figure3.png" width="570" height="798"></em>
            </div>
        </div>
    </a>
</li>   
-->
                           
           
                        </ul>
                        <div class="vivo-h-dot" style="bottom: 20px;"><a href="#v" class="current"><b></b></a><a href="#v" class=""><b></b></a><a href="#v" class=""><b></b></a><a href="#v" class=""><b></b></a><a href="#v" class=""><b></b></a></div>
                    </div>
                </div>
            </div>
            
            
            
            
            
            <div id="vivo-contain">
                
                <div class="vc-main-promos">
                    <ul>
                                                <li>
                            <a href="javascript:;" target="_top">
                                <i><img src="d34765416f339058f074b5f8995452ee_854x480.jpg" alt="照亮全家福"></i>
                                <div class="title color-white">
                                    <h2>照亮全家福</h2>
                                    <h3></h3>
                                </div>
                            </a>
                        </li>
                                                <li class="vc-p-video vdl_video_btn">
                            <a href="#" target="_top" onclick="return VPV({url:'http://files.vivo.com.cn/static/www/video/161110/VIVO_30s_1109_1.mp4', poster:'http://files.vivo.com.cn/static/www/video/161110/VIVO_30s_1109_1.jpg', width:800, height:450});">
                                <i><img src="d63990026e5e0bf8c683710baf6438d8_854x480.jpg" alt="vivo X9照亮你的美 "></i>
                                <div class="title">
                                    <h2>vivo X9照亮你的美 </h2>
                                    <h3></h3>
                                </div>
                            </a>
                        </li>
                                                <li class="vc-p-pro">
                            <a href="https://shop.vivo.com.cn/product/9986?source=vivo" target="_top">
                                <i><img src="b36acf9a431e6e7552a53258e60336f5_854x480.jpg" alt="新品上市 免息购买"></i>
                                <div class="title color-white">
                                    <h2>新品上市 免息购买</h2>
                                    <h3>X9Plus星空灰版</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="vc-main-events vc-ev-pic">
                    <h2>活动</h2>
                    <a class="event-morelink v-gb-ico" href="http://bbs.vivo.com.cn/" target="_top">更多</a>
                    <ul class="cl">
                        <li>
                                                        <a href="http://bbs.vivo.com.cn/forum.php?mod=viewthread&amp;tid=2624129" target="_top">
                                <div class="figure"><img src="c53af9e60f1343e6f6b72fcac1b2e88e_340x200.jpg" alt="幸运大抽奖第6期" height="200" width="340"></div>
                                <h3>幸运大抽奖第6期</h3>
                                <p>一起来赢X9</p>
                            </a>
                            <strong>社区</strong>
                        </li>
                        <li>
                                                        <a href="http://bbs.vivo.com.cn/thread-2575309-1-1.html" target="_top">
                                <div class="figure"><img src="880ab31af6f2c6ffa581281c8f2ed6ad_340x200.jpg" alt="PO出好品味" height="200" width="340"></div>
                                <h3>PO出好品味</h3>
                                <p>晒单写评测赢X9</p>
                            </a>
                            <strong>社区</strong>
                        </li>
                        <li>
                                                        <a href="http://bbs.vivo.com.cn/forum.php?mod=viewthread&amp;tid=2592474" target="_top">
                                <div class="figure"><img src="a7e2628810ecad8e3e43d6a8e78e4c49_340x200.jpg" alt="初冬送好礼" height="200" width="340"></div>
                                <h3>初冬送好礼</h3>
                                <p>签到赢公仔，还有金豆哦</p>
                            </a>
                            <strong>社区</strong>
                        </li>
                        <li>
                                                        <a href="https://shop.vivo.com.cn/product/9948?source=vivo" target="_top">
                                <div class="figure"><img src="2deefa1880f950e579ac0c56f8e9ae5c_340x200.jpg" alt="vivo X9柔光双摄" height="200" width="340"></div>
                                <h3>vivo X9柔光双摄</h3>
                                <p>免息购买</p>
                            </a>
                            <strong>商城</strong>
                        </li>
                    </ul>
                </div>
                
                <div class="vc-main-events vc-ev-text">
                    <h2>动态</h2>
                    <a class="event-morelink v-gb-ico" href="http://www.vivo.com.cn/news" target="_top">更多</a>
                    <ul class="cl">
                        <li>
                                                        <a href="http://www.vivo.com.cn/news/174" target="_top">
                                <div class="info"><img src="a7770dd900d00cafc5127a5e2a065a69_100x100.jpg" alt="vivo X9评测" height="100" width="100"></div>
                                <div class="int">
                                    <h3><em>评测</em>vivo X9评测</h3>
                                    <p>前置双摄让自拍不仅是美颜</p>
                                    <span>2016.11.23</span>
                                </div>
                            </a>
                        </li>
                        <li>
                                                        <a href="http://www.vivo.com.cn/news/173" target="_top">
                                <div class="info"><img src="6a55b42209c5baeee52f9cabe728b6fb_100x100.jpg" alt="不只X9：Xplay6惊喜发布" height="100" width="100"></div>
                                <div class="int">
                                    <h3><em>新闻</em>不只X9：Xplay6惊喜发布</h3>
                                    <p>vivo秋季新品发布会6大看点</p>
                                    <span>2016.11.16</span>
                                </div>
                            </a>
                        </li>
                        <li>
                                                        <a href="http://www.vivo.com.cn/news/171" target="_top">
                                <div class="info"><img src="f5b37ab8df91b4c5ecea601c0aea50ff_100x100.jpg" alt="彭于晏成为X9代言人" height="100" width="100"></div>
                                <div class="int">
                                    <h3><em>新闻</em>彭于晏成为X9代言人</h3>
                                    <p>专注与拼搏精神的最佳诠释</p>
                                    <span>2016.11.10</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="vc-main-events vc-ev-media">
                    <div class="vc-ev-media-box">
                        <h2>媒体</h2>
                        <ul class="cl">
                                                        <li class="v_sina">
                                <div class="vc-me-mediabox cl">
                                    <div class="figure"><a href="http://weibo.com/p/100808ebdb551ff4f3a4addfe4d4d8fd8ef6f6/home" target="_top"><img src="a4d162c7418925c348067f75d4b2e12f_125x105.jpg" alt="vivo智能手机" height="105" width="125"></a></div>
                                    <div class="cont">
                                        <a class="v-gb-ico" href="http://weibo.com/vivomobile" target="_top"><h3>vivo智能手机</h3></a>
                                        <a href="http://weibo.com/p/100808ebdb551ff4f3a4addfe4d4d8fd8ef6f6/home" target="_top"><p>这可能是你离吉尼斯世界记录最近的一次，挑战“最大的自拍照网络相册”， 带话题#X9自拍吉尼斯世界纪录挑战#转发或直发微博，即可参与话题页抽奖活动。2台X9，10条vivo耳机，10部移动电源送给你。福利V的呼唤，转起~</p></a>
                                    </div>
                                </div>
                                <strong><a class="v-gb-ico" href="javascript:;" target="_top">新浪微博</a></strong>
                            </li>
                                                        <li class="v_sina">
                                <div class="vc-me-mediabox cl">
                                    <div class="figure"><a href="http://weibo.com/1809745371/EkG136gBL?from=page_1006061809745371_profile&amp;wvr=6&amp;mod=weibotime&amp;type=comment#_rnd1480920204966" target="_top"><img src="cea08a1bbc2089d55e3c73bd4c20b4da_125x105.jpg" alt="vivo智能手机" height="105" width="125"></a></div>
                                    <div class="cont">
                                        <a class="v-gb-ico" href="http://weibo.com/vivomobile" target="_top"><h3>vivo智能手机</h3></a>
                                        <a href="http://weibo.com/1809745371/EkG136gBL?from=page_1006061809745371_profile&amp;wvr=6&amp;mod=weibotime&amp;type=comment#_rnd1480920204966" target="_top"><p>他司职控球后卫，是2014-15赛季NBA总冠军，两次当选常规赛MVP，三次入选全明星赛西部首发阵容。他以“变态准”三分扬名，他是NBA单赛季三分王，“萌神”库里：vivo Xplay6新品代言人@StephenCurry 。#vivo专注更美瞬间Xplay6#</p></a>
                                    </div>
                                </div>
                                <strong><a class="v-gb-ico" href="javascript:;" target="_top">新浪微博</a></strong>
                            </li>
                                                        <li class="v_weixin">
                                <div class="vc-me-mediabox cl">
                                    <div class="figure"><a href="https://act7.vivo.com.cn/geniesse/" target="_top"><img src="b5ad95bf2ddc10237f518cbc55ad023a_125x105.jpg" alt="vivo社区" height="105" width="125"></a></div>
                                    <div class="cont">
                                        <a class="v-gb-ico" href="javascript:;" target="_top"><h3>vivo社区</h3></a>
                                        <a href="https://act7.vivo.com.cn/geniesse/" target="_top"><p>X9自拍吉尼斯世界纪录™挑战</p></a>
                                    </div>
                                </div>
                                <strong><a class="v-gb-ico" href="javascript:;" target="_top">微信</a></strong>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
            
            <div id="vivo-foot-wrap" style="visibility: visible;">
    <div id="vivo-foot" style="opacity: 0; display: block;">
        <div class="vivo-f-logo"><img src="vivo-f-logo.jpg" height="50" width="125"></div>
        <div class="vivo-f-share">
<!--            <p>成为vivo粉丝</p>-->
            <div class="vf-share-link">
                <a class="vf-f-sina" href="http://weibo.com/vivomobile" target="_top"><b class="v-gb-ico"></b></a>
                <a class="vf-f-weixin" href="javascript:;"><b class="v-gb-ico"></b></a>
                <a class="vf-f-vi" href="http://bbs.vivo.com.cn/" target="_top"><b class="v-gb-ico"></b></a>
                <a class="vf-f-tieba" href="http://tieba.baidu.com/f?kw=vivo" target="_top"><b class="v-gb-ico"></b></a>
                <a class="vf-f-buluo" href="http://buluo.qq.com/p/barindex.html?bid=212058" target="_top"><b class="v-gb-ico"></b></a>
                <a class="vf-f-kefu" href="http://kefu.vivo.com.cn/robot-vivo/" target="_top"><b class="v-gb-ico"></b>小V在线客服</a>
            </div>
            <div class="vf-weixin-overbox v-gb-ico"><img src="vf-weixin-overbox-ico.jpg" height="100" width="100"></div>
        </div>
        <div class="vf-f-sitelinks">
            <a href="http://www.vivo.com.cn/news" target="_top">新闻中心</a>
            <a href="https://hr.vivo.com.cn/" target="_top">vivo招聘 </a>
            <a href="http://www.vivo.com.cn/photo" target="_top">vivo摄影 </a>
            <a href="http://supply.vivo.com.cn/" target="_top">采购平台 </a>
            <a href="https://developer.vivo.com.cn/" target="_top">开发者平台</a>
            <a href="http://findphone.vivo.com.cn/" target="_top">手机寻回</a>
            <a href="http://www.vivo.com.cn/map.html" target="_top">网站地图</a>
            <a href="https://bbs.vivo.com.cn/products.php?mod=verify" target="_top">手机真伪查询</a>
            <a href="http://www.vivo.com.cn/page/disclaimer.html" target="_top">免责声明</a>
            <a class="vf-f-lan v-gb-ico" href="http://www.vivoglobal.com/" target="_top">English</a>
        </div>
        <div class="vf-f-copyright">
            <p>COPYRIGHT © 1996-2017 <br>ALL RIGHTS RESERVED. <a href="http://www.miitbeian.gov.cn/" target="_top">粤ICP备05100288号</a></p>
        </div>
    </div>
</div>


<script src="jquery.touchswipe.min.js" type="text/javascript"></script>
<script src="jq.support.min.js" type="text/javascript"></script>
<script src="jq.resizeimage.min.js" type="text/javascript"></script>

            
        </div>
        
        
<!--        <script src="/script/models/easeljs-0.8.2.min.js" type="text/javascript"></script>-->
        <script src="tweenlite.min.js" type="text/javascript"></script>
        <script src="timelinelite.min.js" type="text/javascript"></script>
        <script src="timelinemax.min.js" type="text/javascript"></script>
        <script src="easepack.min.js" type="text/javascript"></script>
        <script src="cssplugin.min.js" type="text/javascript"></script>
        
        
        <script src="vivo.highlight.fn.min.js" type="text/javascript"></script>
        <script src="vivo.highlight.animate.min.js" type="text/javascript"></script>

    
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9ef7debb81babe8b94af7f2c274869fd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<div id="vivo-airbox"><div id="v-gotop" style="top: 599px; display: block;" class="show"><a class="v-gb-ico" href="#"></a></div></div></body>
</html>
